@import 'antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply leading-4;
}

body {
    @apply bg-gray-200;
}

.searchBar {
  .ant-input-search {
    .ant-input-affix-wrapper,
    .ant-btn,
    input {
      @apply bg-background-secondary;
    }

    input::placeholder {
      @apply text-color-secondary;
    }

    .ant-input-group-addon,
    .ant-input-affix-wrapper,
    button {
      @apply h-9;
    }

    .ant-input-affix-wrapper {
      @apply rounded-l-lg border-0 w-96 #{!important};
    }

    .ant-input-group-addon {
      @apply bg-transparent;
      .ant-input-search-button {
        @apply border-0 rounded-r-lg #{!important};

        svg {
          @apply w-[15px] h-[15px] stroke-2 fill-color-secondary;
        }
      }
    }
  }
}

.filter {
  @apply w-fit min-w-[144px] bg-background-secondary flex items-center justify-between mr-2 text-text-primary py-[10px] px-3 rounded-lg cursor-pointer;

  &__count {
    @apply text-white py-1 px-2 rounded-full bg-icon-tertiary;
  }

  &__active {
    @apply text-white bg-primary-blue;

    .customSwitcher__count {
      @apply bg-primary-blue-light;
    }
  }
}

.statusSelect {
  .ant-select {
    @apply w-[108px];

    .ant-select-selector {
      @apply border-0 p-0 pl-[10px];
    }
  }
}

.formStatusSelect {
  .ant-select {
    @apply w-[356px];

    .ant-select-selector {
      @apply h-[40px] bg-background-secondary rounded-lg border border-background-secondary;

      span[title="Status"] {
        @apply text-color-secondary;
      }
    }
  }
}

.ant-input {
  @apply w-[356px] h-[40px] bg-background-secondary rounded-lg px-3 border border-background-secondary;
}

.ant-form {
  @apply leading-4;
}

.ant-form-item {
  @apply mb-2 leading-4;
}

.ant-picker {
  @apply w-[356px] h-[40px] mb-[42px] block bg-background-secondary rounded-lg border-background-secondary;
}
