@import 'antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply leading-4;
}

body {
    @apply bg-gray-200;
}

.searchBar {
    @apply w-[432px];

  .ant-input-search {
    .ant-input-affix-wrapper,
    .ant-btn,
    input {
      @apply bg-background-secondary;
    }

    input::placeholder {
      @apply text-color-secondary;
    }

    .ant-input-group-addon,
    .ant-input-affix-wrapper,
    button {
      @apply h-9;
    }

    .ant-input-affix-wrapper {
      @apply rounded-l-lg border-0 #{!important};
    }

    .ant-input-group-addon {
      @apply bg-transparent;
      .ant-input-search-button {
        @apply border-0 rounded-r-lg #{!important};

        svg {
          @apply w-[15px] h-[15px] stroke-2 fill-color-secondary;
        }
      }
    }
  }
}

.statusSelect {
  .ant-select {
    @apply w-[108px];

    .ant-select-selector {
      @apply border-0 p-0 pl-[10px];
    }
  }
}

.formStatusSelect {
  .ant-select {
    @apply w-full md:w-[356px];

    .ant-select-selector {
      @apply h-[40px] bg-background-secondary rounded-lg border border-background-secondary;

      span[title="Status"] {
        @apply text-color-secondary;
      }
    }
  }
}

.newPostForm {
  .ant-input {
    @apply md:w-[356px] h-[40px] bg-background-secondary rounded-lg px-3 border border-background-secondary;
  }

  .ant-form-item {
    @apply mb-2 leading-4;
  }

  .ant-picker {
    @apply md:w-[356px] h-[40px] mb-[42px] block bg-background-secondary rounded-lg border-background-secondary;
  }
}

.paginator {
  @apply flex flex-wrap items-center justify-center md:justify-between px-6 mt-10;

  .ant-pagination {
    @apply flex items-center;

    button {
      @apply flex items-center justify-center bg-background-secondary border-0 rounded;
    }

    .ant-pagination-item {
      @apply flex items-center justify-center w-8 h-8 border-0 rounded;

      a {
        @apply text-color-secondary font-normal;
      }
    }

    .ant-pagination-item-active {
      @apply bg-primary-blue;

      a {
        @apply text-white;
      }
    }
  }

  .postsCounter {
    @apply flex items-center mb-1;

    .ant-select {
      @apply w-[64px] mr-3;

      .ant-select-selector {
        @apply h-9 rounded px-3 bg-background-secondary border-0;

        span {
          @apply text-black flex items-center;
        }
      }
    }

    div {
      @apply text-[13px] text-color-secondary;
    }
  }
}