@import 'antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-200 leading-4;
}

.searchBar {
  .ant-input-search {
    .ant-input-affix-wrapper,
    .ant-btn,
    input {
      @apply bg-background-secondary;
    }

    input::placeholder {
      @apply text-color-secondary;
    }

    .ant-input-group-addon,
    .ant-input-affix-wrapper,
    button {
      @apply h-9;
    }

    .ant-input-affix-wrapper {
      @apply rounded-l-lg border-0 w-96 #{!important};
    }

    .ant-input-group-addon {
      @apply bg-transparent;
      .ant-input-search-button {
        @apply border-0 rounded-r-lg #{!important};

        svg {
          @apply w-[15px] h-[15px] stroke-2 fill-color-secondary;
        }
      }
    }
  }
}

.filter {
  @apply w-fit min-w-[144px] bg-background-secondary flex items-center justify-between mr-2 text-text-primary py-[10px] px-3 rounded-lg cursor-pointer;

  &__count {
    @apply text-white py-1 px-2 rounded-full bg-icon-tertiary;
  }

  &__active {
    @apply text-white bg-primary-blue;

    .customSwitcher__count {
      @apply bg-primary-blue-light;
    }
  }
}

table {
  @apply w-full my-7;

  thead {
    th {
      @apply text-[13px] font-medium text-color-secondary py-[12.5] px-6;
    }
  }

  tbody {
    td {
      @apply text-text-primary py-8 px-6;
    }
  }

  th,
  td {
    @apply text-left whitespace-nowrap;

    &:first-child {
      @apply w-[65px] text-center;
    }

    &:nth-child(2) {
      width: calc(100% - 200px);
      @apply whitespace-normal;
    }
  }
}

.statusSelect {
  .ant-select {
    @apply w-[108px];

    .ant-select-selector {
      @apply border-0 p-0 pl-[10px];
    }
  }
}

.formStatusSelect {
  @apply mb-2;

  .ant-select {
    @apply w-[356px];

    .ant-select-selector {
      @apply h-[38px] border border-background-secondary bg-background-secondary rounded-lg;

      span[title="Status"] {
        @apply text-color-secondary;
      }
    }
  }

  &__isError {
    .ant-select {
      .ant-select-selector {
        @apply border-red-600;
      }
    }
  }
}

input {
  @apply w-[356px] h-[38px] mb-2 bg-background-secondary rounded-lg px-3 border border-background-secondary;

  &:focus {
    @apply outline-none shadow-md;
  }
}

.datePicker {
  @apply mb-[42px];

  .ant-picker {
    @apply w-[356px] h-[38px] border border-background-secondary bg-background-secondary rounded-lg;
  }

  &__isError {
    .ant-picker {
      @apply border-red-600;
    }
  }
}